<template>
<!-- change sendMessage(currentMessage) into sendMessage(currentMessage, sender)-->
<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage, sender)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container class="mb-12">
     
      <v-flex
        xs10
        style="height:400px;"
        class="elevated white pa-4 align-end"
      >
        <v-layout
        class="px-3"
          v-for="message in messages"
          :key="message.timestamp"
          row
        >
          <v-flex xs12>
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right mt-2"
              label>
              <!-- add {{message.name}} to display user's name-->
                {{message.name}} : {{message.text}} 
            </v-chip>

            <v-chip
              v-if="message.uuid !== uuid"
              text-color="primary"
              outlined
              color="primary"
              class="float-left mt-2"
              label>
              <!-- add {{message.name}} to display other users' name-->
                {{message.name}} : {{message.text}} 
            </v-chip>
          </v-flex>
        </v-layout>
       
      
        
       <!-- add text input for user to type their name, create a v-model called 'sender' -->
        <v-text-field
          label="Your Name"
          v-model="sender"
          class="mt-12"
          filled
        >
        </v-text-field>
        <!-- if fillName is false, then show the warning message -->
        <v-container
        v-if="!fillName"
        class="pt-0 warning--text"
        >
        Please type your name
        </v-container> 
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          filled
        >
        </v-text-field>
        <!-- if fillMsg is false, then show the warning message -->
        <v-container
        v-if="!fillMsg"
        class="pt-0 warning--text"
        >
        Please type your message
        </v-container>  
        
        <v-btn
          width="100%"
          @click="sendMessage(currentMessage, sender)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage, sender)"
        >
          Send
        </v-btn>
      
      </v-flex>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    //check if user fill the name and message 
    fillMsg:true,
    fillName:true,
    //set sender's initial value to empty
    sender:"",
    currentMessage: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }
    

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    //add parameter "name" in the sendMessage function  
    sendMessage: function(text, name) {
      //avoid users sending empty text and name
      if (text && name) {
        this.fillName = true;
        this.fillMsg= true;
        const message = JSON.stringify({
        text,
        name,
        uuid: this.uuid
      })
      //the message here now include text and name
      this.$socket.send(message)
      //empty the currentMessage value after submit 
      this.currentMessage=""
      }

      this.errorMessage = [];
     
      if (!name) {
        this.fillName = false;
      }else{
        this.fillName = true;
      }
      if (!text) {
        this.fillMsg= false;
      }else{
        this.fillMsg= true;
      }
     
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          //Instead of 'res.data.ok', it should be 'res.data.OK'
          if (res.status === 200 && res.data.OK === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            //the error message of ${res.data} was [object Object], I checked with console.log(res) and found 'data: {OK: true}'
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            //console.log(res)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
